@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/mixins.scss';

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$gray: #acb5be;
$black: #000;
$white: #fff;

$green-mix: (
    "green-950": #003023,
    "green-900": #005b41,
    "green-800": #006647,
    "green-700": #008258,
    "green-600": #00a26a,
    "green-500": #02c782,
    "green-400": #27e099,
    "green-300": #64f1b6,
    "green-200": #a1f9cf,
    "green-100": #cefde4,
    "green-50": #ebfef5,
);

$blue-mix: (
    "blue-950": #1b2236,
    "blue-900": #283452,
    "blue-800": #2b3c61,
    "blue-700": #314673,
    "blue-600": #415f9d,
    "blue-500": #4d6eaa,
    "blue-400": #6f8dc1,
    "blue-300": #a2b4d7,
    "blue-200": #cdd6ea,
    "blue-100": #e9ecf5,
    "blue-50": #f4f6fb,
);

// Custom colors
$danger: $red;
$success: $green;
$disabled: shade-color($gray, 50%);
$primary: #1b2236;
$secondary: #314673;
$third: #a2b4d7;
$fourth: #2b3c61;
$light: #f4f6fb;
$text: $light;

$theme-colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "gray": $gray,
    "black": $black,
    "white": $white,
    "danger": $danger,
    "success": $success,
    "disabled": $disabled,
    "primary": $primary,
    "secondary": $secondary,
    "third": $third,
    "fourth": $fourth,
    "text": $text,
    "light": $light,
);

$theme-colors-transform: ();

$theme-colors: map-merge($theme-colors, $green-mix);
$theme-colors: map-merge($theme-colors, $blue-mix);

@each $color, $value in $theme-colors {
    $theme-colors-transform: map-merge($theme-colors-transform, (
        "#{$color}-text-emphasis": shade-color($value, 60%),
        "#{$color}-bg-subtle": tint-color($value, 80%),
        "#{$color}-border-subtle": tint-color($value, 60%),
    ));
}

$theme-colors: map-merge($theme-colors, $theme-colors-transform);

$btn-padding-y: 0.25rem;
$btn-padding-x: 0.5rem;
$btn-font-size: 0.75rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
);

@import '~bootstrap/scss/bootstrap.scss';

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @if $color == "light" {
            @include button-variant(
            $value,
            $value,
            $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
            $hover-border: shade-color($value, $btn-hover-border-shade-amount),
            $active-background: shade-color($value, $btn-active-bg-shade-amount),
            $active-border: shade-color($value, $btn-active-border-shade-amount)
            );
        } @else if $color == "dark" {
            @include button-variant(
            $value,
            $value,
            $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
            $hover-border: tint-color($value, $btn-hover-border-tint-amount),
            $active-background: tint-color($value, $btn-active-bg-tint-amount),
            $active-border: tint-color($value, $btn-active-border-tint-amount)
            );
        } @else {
            @include button-variant($value, $value);
        }
    }
}